{% for r in rendezvous %}
    <tr>
        <td> {{ r.id }}</td>
        <td align="right"> {{ r.date|date('Y-m-d H:i:s') }}</td>
        <td> {{ r.meet }}</td>
        <td> {{ r.description }}</td>
        <td> {{ r.mail.emailadress|default('undefined') }}</td>
        <td> {{ r.mail.emailadress|default('undefined') }}</td>
        <td><a href="{{ path ('update',{ 'id':r.id}) }}"class="text-info" data-toggle="tooltip" title="Edit"><i class="rt-icon2-pencil"></i></a></td>
        <td><a href="{{ path ('d',{ 'id':r.id}) }}"class="text-danger" data-toggle="tooltip" title="Delete"><i class="rt-icon2-trash3"></i></a></td>
    </tr>
{% endfor %}