{% extends 'base.html.twig' %}

{% block title 'Gerer les annonces' %}

{% block body %}
    <div class="container mt-4">

        <h1>Gerer les annonces</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>TItre</th>
                <th>Contenu</th>
            </tr>
            </thead>
            <tbody>
            {% for annonce in annonces %}
            <tr>
                <td>{{  annonce.title }}</td>
                <td>{{  annonce.contenu }}</td>
                <td>
                    <a href="{{ path('admin.annonce.edit',{id: annonce.id}) }}" class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path('admin.annonce.delete',{id: annonce.id}) }}" style="display: inline-block">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{path('admin.annonce.new')  }}" class="btn btn-primary">Creer une nouvelle annonce</a>
        </div>
    </div>




{% endblock %}